html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#logoContainer {
    height: 100%;
    background-color: #fcc000;
    background-image: url('../images/senor_burrito.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.sectionDiv {
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#tortilla {
    background-color: #03bc9e;
}

#principal {
    background-color: #E51A2E;
}

#ingredientes {
    background-color: #fcc000;
}

#salsa {
    background-color: #03bc9e;
}

.sectionHeader {
    width: 30px;
    margin-left: 16px;
    float: left;
}

.headerContainer {
    float: left;
    height: 50vh;
    margin-left: 16px;
}

.number {
    float: left;
    font-weight: 700;
    font-size: 40vh;
    display: inline-flex;
    align-items: center;
    line-height: 50vh;
    padding-left: 32px;
}

.container {
    float: left;
}

label>input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    position: relative;
    background-color: #E51A2E;
    color: #fcc000;
    top: 10px;
    height: 50px;
    width: 50px;
    border: 0;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

label>input[type="checkbox"]:checked::before {
    position: absolute;
    left: 15px;
    font: 35px Arial, sans-serif;
    top: 6px;
    content: '\02143';
    transform: rotate(40deg);
}

label>input[type="checkbox"]:hover {
    background-color: rgba(229, 26, 46, .7);
}

label>input[type="checkbox"]:checked {
    background-color: #E51A2E;
}

#selectContainer {
    float: left;
    width: 250px;
    margin-left: 250px;
    border: 2px solid black;
    padding-right: 12px;
    background-color: #fcc000;
}

#tortillaSelect {
    width: 100%;
    padding: 16px 10px;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../images/sort-down.png');
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Roboto', sans-serif;
    border: none;
}

#tortillaSelect:focus {
    outline: 0;
}

#checkboxes {
    margin-left: 250px;
}

#checkboxes ul,
#adicionales {
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    padding-left: 0;
}

#checkboxes li {
    padding: 12px 0;
}

#adicionalesContainer label:hover,
#checkboxes label:hover {
    cursor: pointer;
}

#checkboxes input {
    margin-right: 12px;
    /*-moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid black;
    display: inline-block;*/
}

#adicionalesContainer {
    margin-left: 250px;
}

#adicionales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#adicionales li {
    padding: 10px 16px;
}